/*
================
COLORS
================
*/

$color-yellow: #F8DD7D;
$color-dark-gray: #7B7A7A;
$color-darker-gray:#696767;
$color-gray: #979595;
$color-darkest-gray:#4D4B4B;

$color-gray-light: #9B9898;


$color-green: #61D4B3;
$color-red: #FA5477;
$color-purpule:#DAB8F3;
$color-blue:#8ED6FF;
$color-primary: $color-yellow;

$color-redish: #e74848;
$bg-color: #292a2b;
$font-color--light: #fff;
$font-color--medium: #bbb;
$font-color--dark: #999;

$qut-width: 50rem;