.footer {
    text-align: center;
    margin-top: 6.4rem;

    h1 {
        font-weight: 600;
        font-size: 3rem;
        line-height: 41px;
        color: $color-darkest-gray;
        margin-bottom: 2.4rem;

        @include respond(small-phone) {
            font-size: 2rem;
        }
    }

    p {
        font-size: 2.4rem;
        line-height: 35px;
        font-weight: normal;
        color: $color-darkest-gray;

        @include respond(small-phone) {
            font-size: 1.8rem;
        }
    }

    h3 {
        font-weight: 600;
        font-size: 2.6rem;
        line-height: 41px;
        color: $color-darkest-gray;
        margin-bottom: 4.8rem;
        display: flex;
        align-items: center;

        @include respond(small-phone) {
            font-size: 2rem;
        }

        img {
            margin-right: .8rem;
        }
    }

    .wrapper__email {
        display: flex;
        justify-content: center;
        margin-top: 4.8rem;
    }

    .social__wrapper {
        display: flex;
        justify-content: center;

        a:not(:last-child) {
            margin-right: 6.8rem;

            @include respond(small-phone) {
                margin-right: 2rem;
            }
        }
    }

    .copyright {
        font-size: 12px;
        color: $color-darkest-gray;
        display: block;
        margin-top: 4rem;
    }
}