.projects {
    margin-top: 4rem;
    margin-bottom: 8rem;

    @include respond(small-phone) {
        margin-bottom: 2.4rem;
    }

    .button__wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 2.4rem;
        max-width: 600px;
        margin-bottom: 6.8rem;

        @include respond(mini-tab) {
            margin-bottom: 2.4rem;
        }


    }

    &__left {
        padding-right: 2rem;
    }

    &__right {
        padding-left: 2rem;
    }

    .row-2 {
        @media only screen and (max-width: 767px) {
            flex-flow: column-reverse;
        }
    }
}

.projects__part {
    .projects {
        @media only screen and (max-width: 767px) {
            margin-top: 0;
        }
    }

    .divider {
        margin-top: 7rem;

        @include respond(small-phone) {
            margin-top: 5rem;
        }
    }

    .hero__image {
        padding-top: 1.6rem;
    }

    .hero__image--description {
        margin-top: .8rem;
    }

    .project__content {
        max-width: 444px;

        @include respond(mini-tab) {
            max-width: unset;
            margin-bottom: 130px;
        }

        &--title {
            font-weight: 600;
            font-size: 3.6rem;
            line-height: 49px;
            color: $color-darkest-gray;

            @include respond(small-phone) {
                font-size: 2.8rem;
                line-height: 40px;
            }

        }

        h6 {
            font-size: 1.4rem;
            margin-bottom: 1.6rem;
        }

        &--description {
            font-weight: normal;
            font-size: 2rem;
            line-height: 27px;
            color: $color-gray-light;

            @include respond(small-phone) {
                font-size: 1.8rem;
            }
        }

        &--bottom {
            position: absolute;
            bottom: 0;

            h4 {
                font-weight: normal;
                font-size: 2rem;
                line-height: 27px;
                color: $color-gray-light;
            }
        }
    }

    .projects {
        .row {
            margin-bottom: 10rem;

            @include respond(mini-tab) {
                margin-bottom: 5rem;
            }
        }
    }

    .projects__left {
        @include respond(mini-tab) {

            margin-bottom: 2.4rem;
        }
    }

    .contain {
        object-fit: contain;
    }
}

.projects3 {
    @include respond(mini-tab) {
        .project__content {
            margin-bottom: 2.4rem;

        }
    }
}

.projects2 {
    @include respond(mini-tab) {
        .trm {
            .project__content {
                margin-bottom: 2.4rem;

            }
        }

    }
}

// Animated card
$bezier: cubic-bezier(.21, .98, .6, .99);

.codepen--card {
    position: relative;

    @include respond(small-phone) {

        min-height: 217.33px;
    }
}

.center {
    width: 220px;
    height: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dot-1 {
    position: absolute;
    z-index: 4;
    width: 30px;
    height: 30px;
    top: 95px;
    left: 95px;
    background: #be9fe1;
    border-radius: 50%;
    animation-fill-mode: both;
    animation: jump-jump-1 2s $bezier infinite alternate;

    @include respond(small-phone) {
        width: 20px;
        height: 20px;
    }
}

.dot-2 {
    position: absolute;
    z-index: 3;
    width: 60px;
    height: 60px;
    top: 80px;
    left: 80px;
    background: #c9b6e4;
    border-radius: 50%;
    animation-fill-mode: both;
    animation: jump-jump-2 2s $bezier infinite alternate;

    @include respond(small-phone) {
        width: 50px;
        height: 50px;
    }
}

.dot-3 {
    position: absolute;
    z-index: 2;
    width: 90px;
    height: 90px;
    top: 65px;
    left: 65px;
    background: #e1ccec;
    border-radius: 50%;
    animation-fill-mode: both;
    animation: jump-jump-3 2s $bezier infinite alternate;

    @include respond(small-phone) {
        width: 80px;
        height: 80px;
    }
}

.dot-4 {
    position: absolute;
    z-index: 1;
    width: 120px;
    height: 120px;
    top: 50px;
    left: 50px;
    background: #f6e5f5;
    border-radius: 50%;
    animation-fill-mode: both;
    animation: jump-jump-4 2s $bezier infinite alternate;

    @include respond(small-phone) {
        width: 110px;
        height: 110px;
    }
}